version: '3.8'

services:
  # Jitsi Web (Frontend)
  jitsi-web:
    image: jitsi/web:stable-8960
    container_name: jitsi-web
    restart: unless-stopped
    ports:
      - '8443:443'
      - '8000:80'
    environment:
      # Basic config - DISABLED JWT for quick testing
      - ENABLE_AUTH=0
      - ENABLE_GUESTS=1
      - AUTH_TYPE=internal
      # JWT settings disabled for testing
      # - JWT_APP_ID=pilot180-jitsi
      # - JWT_APP_SECRET=${JITSI_JWT_SECRET:-ChangeMeToRandomSecret123!}
      # - JWT_ACCEPTED_ISSUERS=pilot180-jitsi
      # - JWT_ACCEPTED_AUDIENCES=pilot180-jitsi
      # - JWT_ENABLE_DOMAIN_VERIFICATION=0

      # URLs
      - PUBLIC_URL=http://localhost:8000
      - XMPP_DOMAIN=meet.jitsi
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_BOSH_URL_BASE=http://jitsi-prosody:5280
      - XMPP_MUC_DOMAIN=muc.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
      - XMPP_GUEST_DOMAIN=guest.meet.jitsi

      # Disable WebSocket, use BOSH only for HTTP setup
      - ENABLE_XMPP_WEBSOCKET=0

      # JVB - Disable WebSocket for video bridge too
      - JVB_TCP_HARVESTER_DISABLED=true
      - ENABLE_COLIBRI_WEBSOCKET=0

      # Interface
      - DISABLE_HTTPS=1
      - ENABLE_HTTP_REDIRECT=0
      - ENABLE_HSTS=0

      # Additional
      - TZ=UTC
      - ENABLE_LETSENCRYPT=0
      - ENABLE_TRANSCRIPTIONS=0
      - ENABLE_RECORDING=0

    networks:
      - jitsi-meet
    depends_on:
      - jitsi-prosody

  # Jitsi Prosody (XMPP Server)
  jitsi-prosody:
    image: jitsi/prosody:stable-8960
    container_name: jitsi-prosody
    restart: unless-stopped
    expose:
      - '5222'
      - '5347'
      - '5280'
    environment:
      # Auth config - DISABLED JWT for quick testing
      - AUTH_TYPE=internal
      - ENABLE_AUTH=0
      - ENABLE_GUESTS=1
      # JWT settings disabled for testing
      # - JWT_APP_ID=pilot180-jitsi
      # - JWT_APP_SECRET=${JITSI_JWT_SECRET:-ChangeMeToRandomSecret123!}
      # - JWT_ACCEPTED_ISSUERS=pilot180-jitsi
      # - JWT_ACCEPTED_AUDIENCES=pilot180-jitsi
      # - JWT_ENABLE_DOMAIN_VERIFICATION=0

      # Domains
      - XMPP_DOMAIN=meet.jitsi
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_MUC_DOMAIN=muc.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
      - XMPP_GUEST_DOMAIN=guest.meet.jitsi

      # Component auth
      - JVB_AUTH_USER=jvb
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD:-jvbpassword123}
      - JICOFO_AUTH_USER=focus
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD:-focuspassword123}
      - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET:-componentSecret123}
      - JIGASI_XMPP_PASSWORD=${JIGASI_XMPP_PASSWORD:-jigasipassword123}
      - JIBRI_RECORDER_PASSWORD=${JIBRI_RECORDER_PASSWORD:-jibrirecorderpassword123}
      - JIBRI_XMPP_PASSWORD=${JIBRI_XMPP_PASSWORD:-jibripassword123}

      # Other
      - TZ=UTC
      - PUBLIC_URL=http://localhost:8000
      - ENABLE_GUESTS=1

    networks:
      - jitsi-meet
    volumes:
      - jitsi-prosody-config:/config
      - jitsi-prosody-plugins:/prosody-plugins-custom

  # Jitsi JVB (Video Bridge)
  jitsi-jvb:
    image: jitsi/jvb:stable-8960
    container_name: jitsi-jvb
    restart: unless-stopped
    ports:
      - '10000:10000/udp'
      - '4443:4443'
    environment:
      # Auth
      - JVB_AUTH_USER=jvb
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD:-jvbpassword123}

      # MUC
      - JVB_BREWERY_MUC=jvbbrewery
      - JVB_PORT=10000
      - JVB_TCP_HARVESTER_DISABLED=true
      - JVB_TCP_PORT=4443
      - JVB_STUN_SERVERS=stun.l.google.com:19302,stun1.l.google.com:19302

      # XMPP
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
      - XMPP_SERVER=jitsi-prosody
      - PUBLIC_URL=http://localhost:8000

      # Colibri - Disable WebSocket for HTTP mode
      - ENABLE_COLIBRI_WEBSOCKET=0
      - COLIBRI_REST_ENABLED=true

      # Other
      - TZ=UTC

    networks:
      - jitsi-meet
    depends_on:
      - jitsi-prosody

  # Jicofo (Conference Focus)
  jitsi-jicofo:
    image: jitsi/jicofo:stable-8960
    container_name: jitsi-jicofo
    restart: unless-stopped
    environment:
      # Auth - DISABLED JWT for quick testing
      - AUTH_TYPE=internal
      - ENABLE_AUTH=0
      - JICOFO_AUTH_USER=focus
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD:-focuspassword123}
      - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET:-componentSecret123}

      # XMPP
      - XMPP_DOMAIN=meet.jitsi
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
      - XMPP_MUC_DOMAIN=muc.meet.jitsi
      - XMPP_SERVER=jitsi-prosody

      # JVB
      - JVB_BREWERY_MUC=jvbbrewery

      # Other
      - TZ=UTC
      - JICOFO_ENABLE_BRIDGE_HEALTH_CHECKS=true

    networks:
      - jitsi-meet
    depends_on:
      - jitsi-prosody

networks:
  jitsi-meet:
    driver: bridge
  default:
    name: pilot180-network
    external: true

volumes:
  jitsi-prosody-config:
  jitsi-prosody-plugins:
